.jobs{
    // background: #F5F6F8;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;

    .box{
        background: #FFFFFF;
        box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
        border-radius: 15px;
        // height: 100vh;
    }

    .bravetel {
        background: #F9F9FB;
        border-bottom: solid #FFF 6px !important;
        border-top: solid #FFF 8px !important;
        padding: 10px;
    }

}

// Manage applicant
.box{
    background: #FFFFFF;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    // height: 100vh;
}



